*,
html {
  font-family: Arial, sans-serif;
}

#subtitle {
  margin-top: 0.5rem;
}

h1 {
  margin: 0;
}

div#tooltip {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  background: #ffffff;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 8px;
  pointer-events: none;
  font-size: 1.3rem;
  z-index: 1000;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#legend {
  position: absolute;
  left: 70vw;
  top: 50vh;
}

.legend-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}

.legend-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.dot {
  stroke: gray;
}

.doping {
  $noDopingColor: hsla(38, 100%, 50%, 0.6);
  fill: $noDopingColor;
  background-color: $noDopingColor;
}

.no-doping {
  $noDopingColor: hsla(203, 100%, 50%, 0.6);
  fill: $noDopingColor;
  background-color: $noDopingColor;
}
